<!--
 * @Description: 
 * @Author: wudang
 * @Date: 2021-07-22 15:04:16
 * @FilePath: \webapp\main\common\component\fileUpload\demo.html
 * @LastEditTime: 2021-07-23 17:11:23
 * @LastEditors: wudang
-->
<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>附件上传Demo</title>
    <script type="text/javascript" src="../../vue-common.js"></script>
</head>

<body>
    <div id="app">
        <file-upload ref="fileUpload" :business-code="businessCode"  size="10"  :auto-upload="false" @change="checkFileList">
            <template slot="append">
                <el-button size="small" type="primary">下载模板</el-button>
            </template>
        </file-upload>
        <br>
        <el-button type="primary" @click="submit">提交</el-button>
        <el-button type="primary" @click="getFileList">获取当前附件信息</el-button>
        <el-button type="primary" @click="clearAll">清空</el-button>
    </div>
    <script src="fileUpload.js"></script>
    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                businessCode: 'dd',
            },
            methods:{
                getFileList(){
                    let fileList=this.$refs.fileUpload.getFileList();
                    console.log(fileList);
                },
                checkFileList(fileList){
                    console.log(fileList);
                },
                clearAll(){
                    this.$refs.fileUpload.clearAll();
                },
                submit(){
                    this.$refs.fileUpload.submit((fileData)=>{
                        console.log(fileData);
                    },'ssss');
                }
            }
        })
    </script>
</body>

</html>